.el-header {
  background-image: url("../imgs/head-bg.jpg");
  background-size: 100% 100%;
  line-height: 90px;
  text-align: right;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.el-aside {
  position: fixed;
  left: 1px;
  top: 91px;
  height: 92%;
  color: #333;
  overflow: scroll;
}

#logo {
  font-size: 300%;
  color: white;
  width: 190px;
  background-color: rgb(46, 48, 50);
  padding-left: 30px;
  text-align: left;
}

#Area {
  margin-top: 91px;
}

#mainArea {
  margin-left: 220px;
  background-color: #eee;
  padding-top: 10px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  width: 100%;
  background: black;
  padding: 10px;
  color: white;
  background: linear-gradient(90deg, #5c5fa5, #893f60);
}

.hr3 {
  /*渐变*/
  position: relative;
  margin-bottom: 10px;
  border-width: 3px;
  border-color: #1b7bc9;
  border: 5px solid transparent;
  border-radius: 5px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(90deg, #fff, #fff), linear-gradient(90deg, #5c5fa5, #893f60);
}

.showdata {
  height: 200px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.blue-border {
  border: 5px solid rgba(76, 159, 219, 0.44);
}

.green-border {
  border: 5px solid rgba(54, 110, 77, 0.44);
}

.purple-border {
  border: 5px solid rgba(11, 16, 84, 0.44);
}

.itemName {
  text-align: left;
  padding: 10px;
  font-size: 130%;
  margin: 0px;
}

.itemData {
  width: 150px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 200%;
  color: rgb(59, 189, 88);
}

.itemType {
  height: 60px;
  width: 100%;
  padding-right: 20px;
  line-height: 60px;
}

.dataRange {
  padding-left: 20px;
  font-size: 80%;
  color: #666;
  text-align: center;
}

.itemInfo {
  margin: 0;
  text-align: center;
}

.Chart{
  background-color: white;
  width: 100%;
  height: 400px;
  margin: 10px 0px;
}


.itemPicker{
  margin: 20px 0 20px 0px;
  display: block;
  font-size: 130%;
}
